<nav>
  <a href="/"><img src="/{{assets}}/json_pig.svg" alt="JSON pig"></a>
  <h1><a href="/">Fortune.js</a></h1>
  <ul>
    <li>
      <a href="/" {{#if about}} class="current"{{/if}}>
        <span>About</span>
        <span class="fa fa-home"></span>
      </a>
    </li>
    <li>
      <a href="{{#unless about}}../{{/unless}}guide/" {{#if guide}} class="current"{{/if}}>
        <span>Guide</span>
        <span class="fa fa-book"></span>
      </a>
    </li>
    <li>
      <a href="{{#unless about}}../{{/unless}}docs/" {{#if documentation}} class="current"{{/if}}>
        <span>Docs</span>
        <span class="fa fa-code"></span>
      </a>
    </li>
    <li>
      <a href="//github.com/daliwali/fortune/tree/master/examples">
        <span>Examples</span> <em class="fa fa-external-link"></em>
        <span class="fa fa-folder-open"></span>
      </a>
    </li>
    <li>
      <a href="//github.com/daliwali/fortune/issues/">
        <span>Issues</span> <em class="fa fa-external-link"></em>
        <span class="fa fa-comments"></span>
      </a>
    </li>
  </ul>
  <h3>Fortune</h3>
  <ul class="module">
  {{#each fortune}}
    {{#unless ignore}}
      {{#unless isPrivate}}
        <li>- <a href="../docs/#{{ctx.name}}">{{ctx.name}}</a></li>
      {{/unless}}
    {{/unless}}
  {{/each}}
  </ul>
  <hr>
  <h3>Adapter</h3>
  <ul class="module">
  {{#each adapter}}
    {{#unless ignore}}
      {{#unless isPrivate}}
        <li>- <a href="../docs/#{{ctx.name}}">{{ctx.name}}</a></li>
      {{/unless}}
    {{/unless}}
  {{/each}}
  </ul>
  <hr>
  <p class="bottom">
    <a href="//github.com/daliwali/fortune">
      <span>Fortune.js repo</span>
      <span class="fa fa-github"></span>
    </a>
  </p>
</nav>
